body {
    background-color: #EDDFB3;
}

.header {
    width: 100%;
    height: 120px;
    padding-top: 45px;
    padding-left:10px;
    padding-right: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #B09B71;
}

.footer {
    width: 100%;
    height: 70px;
    padding-top: 8px;
    text-align: center;
    justify-content: space-between;
    background-color: #B09B71;
}

.link {
    text-decoration: none;
    color: #D8CCA3;
    border: 1px solid #87805E;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    background-color: #87805E;
}

.registrationButton {
    width: 150px;
    height: 45px;
    color: #D8CCA3;
    background-color: #87805E;
    border: 1px solid #87805E;
    border-radius: 5px;
    padding: 10px;
    margin-top: -10px;
    margin-right:10px;

}

.link:hover,
.registrationButton:hover {
    background-color: #D8CCA3;
    box-shadow: 2px 5px 15px #87805E;
    transition: 0.5s;
    cursor: pointer;
    color: #87805E;
}

.active {
    background-color: #EDDFB3;
    color: #87805E;
    transition: 0.3s;
    border-color: #87805E;

}

.button {
    width: 25%;
    height: 30px;
    background-color: #B09B71;
    border: none;

}

.button:hover {
    cursor: pointer;
    background-color: #EDDFB3;
    color: #87805E;
    transition: 0.3s;
    border-radius: 5px;
}