.mainpage {
    min-height: calc(100vh - 157px);
    display: flex;
    padding: 35px;
    text-align: center;
}

.info {
    padding: 20px;
}

.mainname {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.maintext {
    font-size: 25px;
    padding: 15px;
    text-align: justify;
}

.image{
    width: 550px;
}