.registrationWrapper {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3)  
}

.registration {
    width: 50%;
    height: 45%;
    margin: 200px auto;
    padding: 60px;
    border: 1px solid #87805E;
    border-radius: 15px;
    background-color: #EDDFB3;
}

.button{
    position: fixed;
    left: 70%;
    top: 35%;
   
}